*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
   font...
   ttf eot woff woff2
   */
html{
    direction: rtl;
}

div.wrapper{
    width: 100%;
}

@font-face {
    font-family:IranYekan;
    src: url('../font/fa/iranyekanwebmedium.2d4f96e5.woff');
    src: url('../font/fa/iranyekanwebregular.e31c09af.woff2');
    /*src: url('../font/fa/iranyekanwebbold.cfb6e26c.woff2');
    src: url('../font/fa/iranyekanwebextrabold.9346e9a2.woff');
    */
}

p.text{
    font-family:IranYekan,sans-serif;
    font-size: 14px;
    margin: 0 auto;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:rgb(241, 242, 244);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(200, 200, 200);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
body{
    background-color:
}